---
sidebar_position: 3
---
import Link from '@site/src/components/Link';

# Overview Result Matrix (Phase 1 and Phase 2)

| Test ID | Customer Journey | Test Description | EDC MVD | Fiware  | Pontux-X |
|---------|---------|---------------------|---------|---------|----------|
{%- for result in results +%}
| <Link color="#25c2a0"> [{{ result.test_id }}]({{ result.test_link }})</Link>| {{ result.customer_journey }} | {{ result.description }} | {{ result.result_edc }} | {{ result.result_fiware }} | - |
{%- endfor -%}
